#outer
{
    height: 1000px;
    width: 1000px;
    border: 10px solid darkorchid;
    display: flex;
    justify-content: center;
    
    margin: 100px;

}
.row{
    height: 125px;
    width:1000px;
}
.black{
    height: 125px;
    width: 125px;
    background-color: black;
    float: left;
}
.white{
    height: 125px;
    width: 125px;
    background-color: white;
    float: left;
}